/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}

h1{
    font-size: 64px;
    text-align: center;
    padding: 10px; 
}

h2{
    font-size: 32px;
    text-shadow: 4px 4px 2px #808080;
}

p{
    font-size: 24px;
    padding-top: 15px; 
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px; 
}

div {
    padding: 25px; 
    height: 150px; 
}

#red {
    background-color: #FF0000;
    text-align: right; 
}

#blue {
    background-color: #0000FF;
    text-align: left;
}

#yellow p {
    color: #000000; 
}

#yellow h2{
    color: #000000;
    text-shadow: 4px 4px 2px #c7e2c7; 
}

#yellow {
    background-color: #ffff00;
    text-align: right; 
}

#green {
    background-color: #008000;
    text-align: left; 
}

footer p {
    text-align: center;
    padding: 0px 10px 10px 0px;
}