/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    font-family: 'Times New Roman', sans-serif;
    background-color: #000000;
    color: #ffffff;
}


h1{
    font-size: 64px;
    text-align: center;
    padding: 10px; 
}

h2{
    background-color: transparent;
    font-size: 32px;
    text-shadow: 4px 4px 2px #808080;
}

p{
    background-color: transparent;
    font-size: 24px;
    padding-top: 10px; 
}

img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 550px; 
}

div {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    height: 150px; 
}

#red {
    background-color: #ff0000;
    text-align: right; 
}

#blue {
    background-color: #0000ff;
    text-align: left;
}

#yellow {
    background-color: #ffff00;
    text-align: right; 
}

#yellow p {
    color: #000000; 
}

#yellow h2{
    color: #000000;
    text-shadow: 4px 4px 2px #c7e2c7; 
}

#green {
    background-color: #008000;
    text-align: left; 
}

footer{
    text-align: center;
    font-size: 10px; 
}